
<!DOCTYPE HTML>
<!--
	Epilogue by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<style>
			.arrow_back {
				width:60px;
				padding-left:25px;
				padding-top: 25px;
			}

		</style>
		<title>TravelHub - About</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
		<link rel="icon" type="image/jpg" href="{{url_for('static', filename='images/TravelHubLogo.png')}}">
	</head>
	<body>

 <!-- -------------------------------------------BODY-BELOW--------------------------------------------------------------------->

 	<a href="index.html"><div><img class="arrow_back" src="static/images/arrow_back.png"></div></a>
		<center>
			<img class="logo_upload" src="static/images/TravelHubBlk.png">
		</center>

		<!-- Wrapper -->
			<div id="wrapper">

			<!-- Banner -->
				<section id="intro" class="main">
					<span class="icon fa-diamond major"></span>
						<h2>About The Website and Myself</h2>
							<p>
								Hello my name is Sol, I created this website as a project for my TA application process, It's a website which is called TravelHub and it gives people the chance to talk about their experiences around the world and share images with others, this helps us to raise awareness about many unknown places around the world.
								<br><br>
								I want to become a TA so I could give back to this organization as much as I can, the amount of things that Meet has given to me can’t be listed nor can be counted, so I just wanna give out the most out of what I learned throughout my journey in Meet back to the students and to the organization.
								<br><br>
								I was a TA during 2021’s summer in Meet, and I can say that it was one of the best experiences ever, even though i'm not a student it was still a pleasure to be there and to work with the staff and to interact with the students and work with them, seeing the student’s happiness and excitement once that one small error gets fixed in his project is the main reason why I used to finish a whole day full of stress and a hard schedule filled with sessions with a smile on my face and zero regrets on why I’m not doing anything else during my summer.

							</p>
					
				</section>

				

				<!-- CTA -->
					<section id="cta" class="main special">
						<h2>Do You Want to Upload Your Own Story?</h2>
						<p>
							Upload your own story and let other people see what you have experienced <br>
							Recommend Cities, Villages, Attractions and even countries to other people <br>
							Share your best moments and encourage other people to visit these places.
						</p>
						<ul class="actions">
							<li><a href="upload.html" class="button big">Get Started</a></li>
						</ul>
					</section>

				<!-- Main -->
				<!--
					<section id="main" class="main">
						<header>
							<h2>Lorem ipsum dolor</h2>
						</header>
						<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
					</section>
				-->

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="https://twitter.com/soooolllllllll" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.instagram.com/sol_diab/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="mailto:soldiab12@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; TravelHub. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>