<!DOCTYPE HTML>
<!--
	Epilogue by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Souq</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/jpg" href="{{url_for('static', filename='images/TravelHubLogo.png')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
	</head>
	<body>
		<!-- Header -->
		<header id="header" class="alt">
			<div class="inner">
				<h1>al Souq</h1>
				<p>A place to talk about your adventures around the world</p>
			</div>
		</header>
		<!-- Wrapper -->
		<div id="wrapper">
			<!-- Banner -->
			<section id="intro" class="main">
				<!--Here goes the shortened list -->
			</section>
			{% if places %}
				<center>
				<h1>Fetured Places</h1>
				</center>
				<!-- Items -->
				<section class="main items">
					
					{% for place in places[:4] %}
						
						<article class="item">
							<header>
								<a href="/place.html/{{place['id']}}">
									<img src="/static/images/amani.jpg"/>
								</a>
								<h3>{{place['PlaceName']}}</h3>
							</header>
							
							<ul class="actions">
								<li><a href="/place.html/{{place.id}}" class="button">Read More!</a></li>
							</ul>
						</article>
						
					{% endfor %}
					
					
				</section>
			{% endif %}
			<center>
			<h1>Check Out The Full List of Places!</h1>
			<a href="list.html" class="button">Full List</a>
			</center>
			<br>
			<center>________________________________________________________________________________________________________________</center><br><br>
			<!-- Footer -->
			<section id="intro" class="main">
				<h2>About Us</h2>
				<p>We provide you with the best tool to get to know more places around with one single click <br> this website will show you what other users have experienced all over the world.</p>
				<ul class="actions">
					<li><a href="about.html" class="button big">Learn More</a></li>
				</ul>
			</section>
			<br>
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://twitter.com/soooolllllllll" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://www.instagram.com/sol_diab/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="mailto:soldiab12@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<p class="copyright">&copy; TravelHub. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
			</footer>
		</div>
		<!-- Scripts -->
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/skel.min.js"></script>
		<script src="static/js/util.js"></script>
		<script src="static/js/main.js"></script>
	</body>
</html>